*{padding: 0; margin: 0; border: 0;}
a:focus, a:active{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
html, body{height: 100%; width: 100%;}


.wrapper {
    height: 100%;
    background: rgb(194, 194, 194);
}
.header_fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px 5px;
    background: rgb(100, 100, 100);
}
.logOutBtn {
    color: rgb(194, 194, 194);
    margin: 0 10px;
    cursor: pointer;
}
.logOutBtn:hover {
    transform: scale(1.1);
}
.homePageBtn {
    color: rgb(194, 194, 194);
    margin: 0 10px;
    cursor: pointer;
}
.user_block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 50px 0 50px;
}
.avatar {
    max-width: 200px;
    max-height: 200px;
}
.avatar img {
    width: 100%;
}
.user_block .name_surname {
    color: rgb(65, 65, 65);
    font-size: 20px
}
.btn_block {
    margin: 25px 50px 0 55px;
}
.btn {
    cursor: pointer;
    height: 30px;
    background: cornflowerblue;
    border-radius: 5px;
    border: 1px solid rgb(80, 80, 80);
    padding: 5px;
    margin: 0 5px;
}
.btn:active {
    background: rgb(52, 90, 160);
}
.messageBtn {
    background: rgb(52, 160, 88);
}